<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Last edited By: A. Camille Hall
        Created by: A. Camille Hall
        Date: 09.22.2018
        Filename: index.html */

        Home page for US Navy disaster web app
            -->
    <meta charset="UTF-8" keywords="natural disaster help">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Natural Disaster Relief by U.S. Navy</title>
    <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:300,400,500" rel="stylesheet">
</head>

<body>
<h4>What Type of Help Do You Need</h4>
<form action="#">
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" checked />
        <span>Request medical</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" />
        <span>Evacuation Information</span>
        <!-- warns user about known routes that are dangerous/routes to avoid -->
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" />
        <span>Request rescue</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio"  />
        <span>Find a shelter</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" disabled="disabled" />
        <span>Report other emergencies</span>
      </label>
    </p>
  </form>
<h4>Type of Medical Request</h4>
    <form action="#">
        <p>Is the person seeking medical attention breathing?</p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>No</span>
    <!-- modal pops up with CPR instructions to entice the user to try it out -->
      </label>
    </p>
    <p>
    </p>Is the person seeking medical attention conscious?</p>
      <label>
        <input name="group2" type="radio" checked />
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group2" type="radio" checked />
        <span>No</span>
<!--         modal pops up with instructions the user can take to immediately
    help person (such as checking surrounding area to make
    sure the two of you are in safe location, calling out for nearby help, etc-->
      </label>
    </p>
  </form>
    <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Animal Bites / Attacks</option>
      <option value="1">Auto Accident</option>
      <option value="2">Breathing Problems</option>
      <option value="3">Drowning / Diving Accident</option>
      <option value="6">Pregnancy / Childbirth / Miscarriage</option>
      <option value="5">Psychiatric</option>
      <option value="4">Sick Person</option>
      <option value="6">Unknown or other</option>
    </select>
    <label>Category</label>
  </div>
     <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Telephone" id="phone" type="text" class="validate">
          <label for="phone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="address" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Any other relevant details</label>
        </div>
      </div>
    </form>
  </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<h4>Request Rescue</h4>
<p><b>Tips for rescue:</b>Get to high sturdy structures. If possible, use
bright colorful objects to identify yourself. Make sure your phone ringer volume is loud
and do your best to conserve your phone battery. </p>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Telephone" id="phone" type="text" class="validate">
          <label for="phone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="address" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Any other relevant details</label>
        </div>
      </div>
    </form>
  </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<p>Thank you for contacting us, we will match you with a responder</p>
      <ul class="collection with-header">
        <li class="collection-header"><h4>Find a Shelter</h4></li>
        <li class="collection-item">Hope Hospital</br>123 Broadway St,</br>New Orleans, Louisiana 02846</li>
        <li class="collection-item">YMCA</br>4 Seymour St,</br>New Orleans, Louisiana 02846</li>
        <li class="collection-item">Valley View Elementary</br>8 Valley View Rd,</br>New Orleans, Louisiana 02546</li>
        <li class="collection-item">Ravens Stadium</br>123 Memorial Dr,</br>New Orleans, Louisiana 02846</li>
      </ul>

<h4>Report other emergencies</h4>
 <form action="#">
    <p>
      <label>
        <input type="checkbox" />
        <span>Fire</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" />
        <span>Hazardous waste</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" />
        <span>Vandalism</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox"/>
        <span>Assault</span>
      </label>
    </p>
      <div class="row">
        <div class="input-field col s12">
          <input id="other" type="other" class="validate">
          <label for="other">Other</label>
        </div>
      </div>
  </form>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/script.js" defer></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
     </script>
</body>

</html>
